body {
	margin: 0!important;
}
 #containter {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center; 
	justify-content: center;
	background-image: url("background-mini-games.png");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;
   }
/*Star*/
.star {
  position: absolute;
  background: url(https://mtedwards.s3.amazonaws.com/sparkle.png) no-repeat;
  background-size: contain;
  overflow: hidden;
}
.star.star-1 {
  width: 50px;
  height: 34px;
  top: 38%;
  left: 59%;
}
.star.star-2 {
  width: 83px;
  height: 77px;
  top: 30%;
  left: 29%;
}
.star.star-3 {
  width: 74px;
  height: 70px;
  top: 35%;
  left: 37%;
}
.star.star-4 {
  width: 68px;
  height: 70px;
  top: 44%;
  left: 48%;
}
.star.star-5 {
  width: 74px;
  height: 70px;
  top: 70%;
  left: 19%;
}
.star.star-6 {
  width: 50px;
  height: 34px;
  top: 51%;
  left: 61%;
}
.star.star-7 {
  width: 83px;
  height: 77px;
  top: 55%;
  left: 74%;
}
/*end*/

#main {
	width: 100%;
}
#logo {
	width: 100%;
	display: inline-block;
	text-align: center;
}

#logo img {
	height: auto;
}
#head-left, #head-right {
	margin: 0 auto;
	clear: both;
}
#head-left {
	text-align:left;
}
#head-right {
	text-align:right;
}

#DateCountdown {
	margin: 0 auto;
}

@media only screen and (min-width: 1700px) {
	
#logo img {
	margin: 0 auto 50px;
	width: 15%;
}
#head-left, #head-right {
	width: 50%;
}
#head-left {
	margin-bottom: 40px;
}
#head-right {
	margin-bottom: 40px;
}

#DateCountdown {
	width: 70%;
}

}/* >1700 */

@media only screen and (min-width: 800px) and (max-width: 1699px) {
	
#logo img {
	margin: 0 auto 20px;
	width: 20%;
}
#head-left, #head-right {
	width: 60%;
}
#head-left img, #head-right img {
	width: 70%;
}
#head-left {
	margin-bottom: 15px;
}
#head-right {
	margin-bottom: 0px;
}

#DateCountdown {
	width: 80%;
}

}/* 1280>1699 */

@media only screen and (min-width: 640px) and (max-width: 799px) {
	
#logo img {
	margin: 0 auto 15px;
	width: 20%;
}
#head-left, #head-right {
	width: 70%;
}
#head-left img, #head-right img {
	width: 70%;
}
#head-left {
	margin-bottom: 5px;
}
#head-right {
	margin-bottom: 10px;
}

#DateCountdown {
	width: 90%;
}

}/* 414>799*/
@media only screen and (max-width: 639px) {
	
#logo img {
	margin: 15px auto 30px;
	width: 20%;
}
#head-left, #head-right {
	width: 70%;
}
#head-left img, #head-right img {
	width: 70%;
}
#head-left {
	margin-bottom: 5px;
}
#head-right {
	margin-bottom: 10px;
}

#DateCountdown {
	width: 90%;
}

}

/**
 *	This element is created inside your target element
 *	It is used so that your own element will not need to be altered
 **/
.time_circles {
    position: relative;
    width: 100%;
    height: 100%;
}

/**
 *	This is all the elements used to house all text used
 * in time circles
 **/
.time_circles > div {
    position: absolute;
    text-align: center;
}

/**
 *	Titles (Days, Hours, etc)
 **/
.time_circles > div > h4 {
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Century Gothic', Arial;
	color: #58595B;
}

/**
 *	Time numbers, ie: 12
 **/
.time_circles > div > span {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Century Gothic', Arial;
    font-size: 300%;
    margin-top: 0.4em;
    font-weight: bold;
	color: #58595B;
}
